memorysetup-main-allocator-block-size=67108864
memorysetup-thread-allocator-block-size=67108864
memorysetup-gfx-main-allocator-block-size=67108864
memorysetup-gfx-thread-allocator-block-size=67108864
memorysetup-profiler-allocator-block-size=33554432
memorysetup-profiler-editor-allocator-block-size=33554432
memorysetup-bucket-allocator-granularity=64
memorysetup-temp-allocator-size-main=33554432
memorysetup-temp-allocator-size-cloud-worker=65536
memorysetup-temp-allocator-size-gfx=524288
memorysetup-temp-allocator-size-preload-manager=67108864
